<h1>Add Pet</h1>

<form action="/add" method="post">

<p>
  <label>Name</label>
  <input name="name" required />
</p>



<p>
  <label>Classification</label>
  <input name="classification" required />
</p>

<p>
  <label>Description</label>
  <input name="description" required />
</p>


<button type="submit">Submit</button>


</form>